* {
    margin: 0 0;
    padding: 0 0;
}

body {
    background: url(../images/background.jpg);   
    background-attachment: fixed;
    background-size: cover;
    font-family: Helvetica;
}

header {
    position: relative;
    display: block;
    margin: auto;
    width: 64em;
    height: 10em;
    background: url(../images/banner.png);
    background-position: center;
}

a {
    text-decoration: none;
    color: #0af;
}
a:hover {
    text-decoration: underline;
}

span > li {
    position: relative;
    list-style: none;
    margin-bottom: 0.7em;
}
li.list {
    list-style: square;
}
li.numbered {
    list-style-type: decimal;
    margin-left: 1em;
}

menu {
    position: relative;
    display: block;
    margin: auto;
    width: 64em;
    height: 3em;
}
menu li.tab {
    position: relative;
    display: inline-block;
    width: 8.905em;
    height: 100%;
    overflow: hidden;
}
menu li.tab a {
    display: block;
    width: 100%;
    height: 1em;
    padding: 1.0em 0.0em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: rgba(50, 50, 50, 0.3);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
menu li.tab:not(.selected) a:hover {
    text-shadow: 0 0 0.2em #2060b7, 0 0 0.5em #2060b7, 0 0 1.0em #202452, 0 0 1.5em #202452, 0 0 2.0em #202452, 0 0 2.5em #202452, 0 0 3.0em #202452, 0 0 3.5em #202452, 0 0 4.0em #202452, 0 0 4.5em #202452, 0 0 5.0em #202452, 0 0 5.5em #202452, 0 0 6.0em #202452;
}
menu li.selected a {
    text-shadow: 0 0 0.2em #2060b7, 0 0 0.5em #2060b7;
    background: rgba(0, 0, 0, 0.8);   
}

div.content {
    overflow: hidden;
    opacity: 1.0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
div.content.hidden {
    opacity: 0.0;
}

#main-body {   
    position: relative;
    display: block;
    margin: auto;
    padding: 2em 2em;
    width: 60em;
    color: #ddd;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article {
    position: relative;
    display: block;
    margin-top: 1em;
    margin-bottom: 3em;
}
article p {
    position: relative;
    display: block;
    margin-top: 3em;
}
article span {
    display: inline-block;
    margin: 0em 2em;
}

h2 {
    padding: 0.3em;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 0.1em #0af;
    border-left: 1px solid #0af;
    border-right: 1px solid #0af;
    background: -webkit-linear-gradient(top, transparent, rgba(0, 170, 255, 0.2) 15%, rgba(0, 170, 255, 0.2) 85%, transparent 100%);  
    background: -moz-linear-gradient(top, transparent, rgba(0, 170, 255, 0.2) 15%, rgba(0, 170, 255, 0.2) 85%, transparent 100%); 
    background: linear-gradient(to top, transparent, rgba(0, 170, 255, 0.2) 15%, rgba(0, 170, 255, 0.2) 85%, transparent 100%);
}

h4 {
    display: table;
    padding: 0.2em 0.5em;
    margin-top: 1em;
    text-shadow: 0 0 0.1em #0af;
    border-bottom: 1px solid #0af;
    background: -webkit-linear-gradient(top, transparent, rgba(0, 170, 255, 0.2) 15%, rgba(0, 170, 255, 0.2) 85%, transparent 100%);  
    background: -moz-linear-gradient(top, transparent, rgba(0, 170, 255, 0.2) 15%, rgba(0, 170, 255, 0.2) 85%, transparent 100%); 
    background: linear-gradient(to top,rgba(0, 170, 255, 0.2) 5%, transparent 30%);
}
h4 + span {
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0;
}
h4 + span p {
    margin: 0;   
}

/* Information display formatting */
section.content-block {
    position: relative;
    display: block;
    float: left;
}
section.content-block.left {
    left: 0em;
    width: 15em;
    padding-top: 0.4em;
    border-right: 3px solid #0af;   
}

section.left li.tab {
    position: relative;
    display: block;
    margin-right: 2px;
    margin-bottom: 0.4em;
    padding: 1em;
    text-align: right;
    text-shadow: 0 0 0.05em #fff;
    border-right: 1px solid #0af;
    
    -webkit-transition: all 1.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
section.left li.tab:hover {
    cursor: pointer;
    text-shadow: 0 0 0.1em #0af
}
section.left li.tab:hover > span {
    width: 99%;
    opacity: 1.0;
}
section.left li.tab > span {
    position: absolute;
    right: 0;
    height: 100%;
    width: 0%;
    margin-top: -1em;
    opacity: 0.0;
    border-left: 1px solid #0af;
    background: -webkit-linear-gradient(top, transparent, rgba(0, 170, 255, 0.2) 15%, rgba(0, 170, 255, 0.2) 85%, transparent 100%); 
    background: -moz-linear-gradient(top, transparent, rgba(0, 170, 255, 0.2) 15%, rgba(0, 170, 255, 0.2) 85%, transparent 100%); 
    background: linear-gradient(to top, transparent, rgba(0, 170, 255, 0.2) 15%, rgba(0, 170, 255, 0.2) 85%, transparent 100%);

    -webkit-transition: all 1.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
section.left li.tab.selected > span {
    width: 99%;
    opacity: 1.0;
    background: -webkit-linear-gradient(top, transparent, rgba(255, 0, 0, 0.3) 15%, rgba(255, 0, 0, 0.3) 85%, transparent 100%); 
    background: -moz-linear-gradient(top, transparent, rgba(255, 0, 0, 0.3) 15%, rgba(255, 0, 0, 0.3) 85%, transparent 100%); 
    background: linear-gradient(to top, transparent, rgba(255, 0, 0, 0.3) 15%, rgba(255, 0, 0, 0.3) 85%, transparent 100%);
}

section.content-block.right {
    padding: 0em 0em 0em 2em;
    margin-left: -3px;
    width: 42.6em;
    opacity: 1.0;
    border-left: 3px solid #0af;
    
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}    
section.content-block.right.hidden {
    opacity: 0.0;
}
section.content-block.right h2 + p {
    margin-left: 2em;
    margin-right: 2em;
}
